
<label for="">Título:</label> <input type="text" name="title" id="title"> <br> <br>
<label for="">Descripción:</label> <input type="text" name="description" id="description"> <br> <br>
<label for="">Código:</label> <input type="text" name="code" id="code"> <br> <br>
<label for="">Precio:</label> <input type="number" name="price" id="price"> <br> <br>
<label for="">Stock:</label> <input type="number" name="stock" id="stock"> <br> <br>
<label for="">Categoría:</label> <input type="text" name="category" id="category"> <br> <br>
<label for="">Imágenes:</label> <input type="file" name="thumbnails" id="thumbnails" multiple> <br> <br>
<button id="button">Agregar</button>


<div id="outputProducts"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>